
header {
    &.account-change-password {
        flex-direction: row;
        justify-content: center;
        height: var(--space-50);
        width: 100%;
        background-color: var(--white);
        padding: var(--space-5) 0;
        img {
            height: 40px;
            width: auto;
        }
    }
}
#account-change-password {
    flex-direction: column;
    padding: var(--space-20);
    padding-top: calc(var(--space-50) * 2);
    align-items: center;
    header, main {
        min-width: 320px;
        max-width: 720px;
        width: 100%;
    }
    > header{
        background-color: var(--white);
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        img {
            height: 91px;
            width: 91px;
            border-radius: var(--space-50);
            transform: translateY(-50px);
        }
        h1 {
            margin-top: -20px;
            margin-bottom: var(--space-20);
            color: var(--blue);
            font-size: 30px;
        }
    }
    main {
        flex-direction: column;
        margin-top: var(--space-50);
        section {
            padding: var(--space-20);
            flex-direction: column;
            margin: var(--space-20) 0;
            background-color: var(--white);
            border-radius: var(--space-5);
            width: 100%;
            header {
                justify-content: center;
                padding: var(--space-10);
                margin: 0;
                h2 {
                    color: var(--blue);
                    font-size: calc(var(--space-20) + var(--space-5));
                    font-weight: 400;
                    text-transform: capitalize;
                }
            }
            &.last-buy {
                > div {
                    @include alert-success;
                    margin-top: var(--space-20);
                    flex-direction: column;
                    align-items: center;
                    h3 {
                        color: var(--dark-0);
                        font-size: var(--space-20);
                        font-weight: bold;
                    }
                    p {
                        font-size: var(--space-20);
                        font-weight: 600;
                    }
                    .wrap {
                        display: grid;
                        grid-template-columns: repeat(2, 2fr);
                        grid-template-rows: repeat(1, 2fr);
                        gap: 10px;
                        width: 100%;
                        padding: var(--space-20);
                        div {
                            flex-direction: column;
                            align-items: center;
                            font-size: var(--space-20);
                            h4 {
                                font-weight: 600;
                            }
                            p {
                                margin: 0;
                                font-weight: 400;
                            }
                        }
 
                    }
                } 
            }
            &.favorites {
                padding: var(--space-20);
                flex-direction: column;
                div {
                    @include box-yellow;
                    flex-direction: column;
                    padding: 0;
                    padding-top: var(--space-20);
                    padding-right: var(--space-5);
                    padding-left: var(--space-5);
                    margin: 0;
                    h3 {
                        font-size: calc(var(--space-20) + var(--space-5));
                        color: var(--dark-0);
                        font-weight: bold;
                        justify-content: center;
                        text-transform: capitalize;
                        margin-bottom: calc(var(--space-10) + var(--space-5));
                    }
                    p {
                        margin: 0;
                        justify-content: center;
                        font-size: var(--space-20);
                    }
                    p + p {
                        font-weight: 600;
                    }
                    .wrap {
                        flex-direction: row;
                        border: none;
                        button {
                            width: 100%;
                            &.buy {
                                @include alert-success;
                                margin-right: var(--space-20);
                                font-size: var(--space-20);
                                font-weight: 600;
                                text-transform: uppercase;
                                font-style: italic;
                                transition: 0.5s;
                                &:hover {
                                    background-color: #a4d2af;
                                }
                            }
                            &.remove {
                                @include alert-danger;
                                font-size: 18px;
                                font-weight: 30;
                                text-transform: capitalize;
                                font-style: italic;
                                transition: 0.5s;
                                &:hover {
                                    background-color: #ff8691;
                                }
                            }   
                        }
                    }
                }
            }
        }
        section + section {
            margin-bottom: 180px;
        }
    }
    aside {
        position: fixed;
        z-index: 3;
        bottom: 0;
        flex-direction: column;
        background-color: var(--bg-color);
        padding: var(--space-20);
        width: 100%;
        header {
            background-color: var(--dark-3);
            border-top: 1px solid var(--dark-3);
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            z-index: 2;
            p {
                font-size: 18px;
                font-weight: bold;
            }
            img {
                transition: 1s;
                height: 25px;
                width: auto;
            }
            &.open {
                img {
                    transform: rotate(180deg);
                }
            }
        }
        section {
            flex-direction: column;
            justify-content: center;
            border-left: 1px solid var(--dark-3);
            border-right: 1px solid var(--dark-3);
            background-color: var(--bg-color);
            border-radius: 0;
            height: 0px;
            padding: 0;
            margin: 0;
            justify-content: flex-start;
            transition: 1s;
            overflow: hidden;
            &.account-content {
                &.open {
                    display: flex;
                    height: calc(100vh - 236px);
                }
            }
            a {
                border: 1px solid var(--blue);
                height: 89px;
                margin: var(--space-20);
                padding: var(--space-5);
                flex-direction: column;
                justify-content: center;
                background-color: var(--white);
                transition: 0.5s;
                img {
                    height: 45px;
                    width: auto;
                }
                p {
                    margin: 0;
                    margin-top: var(--space-5);
                    justify-content: center;
                    font-size: 18px;
                    text-transform: capitalize;
                }
                &:hover {
                    background-color: rgba(41, 128, 185, 0.10);
                }
                &:active {
                    background-color: rgba(41, 128, 185, 0.20);
                }
            }
        }
        footer {
            padding: var(--space-20);
            border-radius: 0 0 5px 5px;
            background-color: var(--white);
            button {
                @include back-button;
                width: 100%;
                font-size: 16px;
                text-transform: uppercase;
                color: var(--white);
            }
        }
    }
}

@media (min-width: 1280px) {
    header {
        &.account-change-password {
            position: fixed;
            z-index: 2;
            height: calc(var(--space-50) * 2);
            img {
                height: 84px;
                width: auto;
            }
        }
    }
    #account-change-password {
        main, header {
            max-width: 720px;
            margin-right: 300px;
        }
        header {
            margin-top: 100px;
        }
        main {
            section {
                &.last-buy {
                    > div {
                        .wrap {
                            grid-template-columns: repeat(4, 2fr);
                            grid-template-rows: repeat(1, 2fr);
                        }
                    }
                }
                &.favorites {
                    > div {
                        .wrap {
                            button {
                                width: 120px;
                            }
                        }
                    }
                }
            }
            section + section {
                margin-bottom: var(--space-20);
            }
        }
        aside {
            right: -20px;
            bottom: unset;
            width: 320px;
            top: 80px;
            background-color: var(--white);
            height: 100vh;
            padding: 0;
            padding-right: var(--space-20);
            header {
                display: none;
            }
            section {
                display: flex;
                border: none;
                background-color: var(--white);
                padding: 0;
                padding-top: var(--space-20);
                overflow-y: scroll;
                height: 100vh;
                a {
                    margin: var(--space-10);
                    &:first-child {
                        margin-top: var(--space-20);
                    }
                }
            }
            footer {
                border-radius: 0;
                padding: var(--space-20);
                position: fixed;
                bottom: 0;
                width: 300px;
                button {
                    height: 35px;
                }
            }
        }
    }
}