body {
    background-color: var(--bg-color);
}

#access {
    height: 0;
    background-color: var(--white);

    main {
        height: 380px;
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
        header {
            background-color: initial;
            justify-content: center;
            transform: translatey(74px);
            z-index: 1;
            img {
                height: 100px;
            }
        }
        main {
            background-color: var(--white);
            margin: var(--space-20);
            border-radius: 5px;
            padding: var(--space-80) var(--space-20);
            h1 {
                color: var(--blue);
                text-align: center;
            }
            form {
                flex-direction: column;
                .label {
                    flex-direction: row;
                    @include account-input;
                }
            }
            footer {
                flex-direction: column;
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: var(--space-20);
                }
                .voltar {
                    width: 65px;
                    height: 45px;
                    background-color: var(--aqua-green);
                    border-radius: 5px;
                    justify-content: center;
                    align-items: center;
                    margin-right: var(--space-5);
                }
                button {
                    width: 100%;
                    border: none;
                    background-color: var(--blue-0);
                    color: var(--black);
                    text-transform: uppercase;
                    font-size: 16px;
                    border-radius: 5px;
                }
                a {
                    font-size: 13px;
                    text-align: center;
                }
            }
        }
        
    }
}