header {
    flex-direction: column;
    img {
        height: 50px;
    }
}
#checkout-success {
    display: flex;
    flex-direction: column;
    margin-top: var(--space-130);
    margin-bottom: var(--space-40);
    min-width: 320px;
    background-color: var(--white);
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;

    >img {
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: -30px;
    }

    .wrap-checkout-success {
        display: flex;
        flex-direction: column;
        width: 70%;
        align-self: center;
        margin-bottom: 250px;
        h1 {
            font-size: 25px;
            color: var(--blue);
            justify-content: center;
        }
    
        h2 {
            font-size: 20px;
            margin-top: 20px;
            align-self: center;
            text-transform: uppercase;
        }
    
        p {
            font-size: 20px;
            text-align: justify;
        }
    }
}

.checkout-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 25px;
    button {
        border-radius: 5px;
        border: none;
        height: 45px;
        outline: none;
        cursor: pointer;
        &.checkout-return {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--green);
            width: 45px;
            margin-right: var(--space-20);
        }
        &.checkout-return:hover {
            background-color: var(--green-2);
        }
        &.checkout-pack-your-bags {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            background-color: var(--blue-0);
            color: var(--white);
            font-weight: bold;
        }
        &.checkout-pack-your-bags:hover {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            background-color: var(--blue-hover);
            color: var(--white);
            font-weight: bold;
        }
    }

}

@media (min-width: 900px) {
    #checkout-success {
        max-width: 720px;
        .wrap-checkout-success {
            width: 70%;
        }
    }
}

@media (min-width: 1280px) {
    #checkout-success {
        margin-top: var(--space-180);
    }
}

