header {
    &.checkout {
        flex-direction: column;
    img {
        height: 50px;
    }
     
    }
}
  
#checkout-section {
    display: flex;
    flex-direction: column;
    margin-top: var(--space-130);
    margin-bottom: var(--space-40);
    min-width: 320px;
    background-color: var(--white);
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;

    >img {
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: -30px;
    }

    h1 {
        font-size: 25px;
        color: var(--blue);
        justify-content: center;
    }

    #confirm {
        display: flex;
        flex-direction: column;
        margin-top: var(--space-20);
        align-self: center;
        font-family: 'Open Sans';

        h2 {
            font-size: 25px;
            margin-bottom: 10px;
        }

        .label {
            display: flex;
            flex-direction: column;
            border: 3px solid var(--dark-3);
            border-radius: 5px;
            width: 283px;
            height: 60px;
            padding: 0 12px 0 12px;
            margin-bottom: 15px;

            label {
                font-family: 'Open Sans';
                font-weight: bold;
                color: var(--blue);
                margin-top: 2px;
            }

            input[type=text] {
                border: none;
                font-family: 'Open Sans';
                font-size: 16px;
                color: var(--green);
                text-transform: uppercase;
                align-self: center;
                margin-top: 5px;
                text-align: center;
            }
        }

        .wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .label {
                display: flex;
                flex-direction: column;
                border: 3px solid var(--dark-3);
                border-radius: 5px;
                width: 135px;
                height: 60px;
                padding: 0 12px 0 12px;
                margin-bottom: 15px;

                label {
                    font-family: 'Open Sans';
                    font-weight: bold;
                    color: var(--blue);
                    margin-top: 2px;
                }

                input[type=date] {
                    border: none;
                    width: 110px;
                    font-family: 'Open Sans';
                    color: var(--green);
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }

        .wrap-two {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .label {
                display: flex;
                flex-direction: column;
                border: 3px solid var(--dark-3);
                border-radius: 5px;
                width: 283px;
                height: 60px;
                padding: 0 12px 0 12px;
                margin-bottom: 15px;

                label {
                    font-family: 'Open Sans';
                    font-weight: bold;
                    color: var(--blue);
                    margin-top: 2px;
                }

                input[type=text] {
                    border: none;
                    font-family: 'Open Sans';
                    font-size: 16px;
                    color: var(--green);
                    text-transform: uppercase;
                    align-self: center;
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }
    }

    #invoice {
        display: flex;
        flex-direction: column;
        margin-top: var(--space-20);
        align-self: center;
        font-family: 'Open Sans';

        h2 {
            font-size: 25px;
            margin-bottom: 10px;
        }

        .wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .label {
                display: flex;
                flex-direction: column;
                border: 3px solid var(--dark-3);
                border-radius: 5px;
                width: 135px;
                height: 60px;
                padding: 0 12px 0 12px;
                margin-bottom: 15px;

                label {
                    font-family: 'Open Sans';
                    font-weight: bold;
                    color: var(--blue);
                    margin-top: 2px;
                }

                input[type=text] {
                    border: none;
                    width: 123px;
                    font-family: 'Open Sans';
                    color: var(--green);
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }

        .wrap-tree {
            display: flex;
            flex-direction: column;

            .label {
                display: flex;
                flex-direction: column;
                border: 3px solid var(--dark-3);
                border-radius: 5px;
                width: 283px;
                height: 60px;
                padding: 0 12px 0 12px;
                margin-bottom: 15px;

                label {
                    font-family: 'Open Sans';
                    font-weight: bold;
                    color: var(--blue);
                    margin-top: 2px;
                }

                input[type=text] {
                    border: none;
                    font-family: 'Open Sans';
                    font-size: 16px;
                    color: var(--green);
                    text-transform: uppercase;
                    align-self: center;
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }

        .wrap-four {
            display: flex;
            flex-direction: column;

            .label {
                display: flex;
                flex-direction: column;
                border: 3px solid var(--dark-3);
                border-radius: 5px;
                width: 283px;
                height: 60px;
                padding: 0 12px 0 12px;
                margin-bottom: 15px;

                label {
                    font-family: 'Open Sans';
                    font-weight: bold;
                    color: var(--blue);
                    margin-top: 2px;
                }

                input[type=text] {
                    border: none;
                    font-family: 'Open Sans';
                    font-size: 16px;
                    color: var(--green);
                    text-transform: uppercase;
                    align-self: center;
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }

        .label {
            display: flex;
            flex-direction: column;
            border: 3px solid var(--dark-3);
            border-radius: 5px;
            width: 283px;
            height: 60px;
            padding: 0 12px 0 12px;
            margin-bottom: 15px;

            label {
                font-family: 'Open Sans';
                font-weight: bold;
                color: var(--blue);
                margin-top: 2px;
            }

            input[type=text] {
                border: none;
                font-family: 'Open Sans';
                font-size: 16px;
                color: var(--green);
                text-transform: uppercase;
                align-self: center;
                margin-top: 5px;
                text-align: center;
            }
        }

    }

    #payment {
        display: flex;
        flex-direction: column;
        margin-top: var(--space-20);
        align-self: center;
        font-family: 'Open Sans';

        h2 {
            font-size: 25px;
            margin-bottom: 10px;
        }

        .wrap-five {
            display: flex;
            flex-direction: column;
            padding-bottom: 100px;

            .wrap-six {
                display: flex;
                flex-direction: column;

                .label {
                    display: flex;
                    flex-direction: column;
                    border: 3px solid var(--dark-3);
                    border-radius: 5px;
                    width: 283px;
                    height: 60px;
                    padding: 0 12px 0 12px;
                    margin-bottom: 15px;

                    label {
                        font-family: 'Open Sans';
                        font-weight: bold;
                        color: var(--blue);
                        margin-top: 2px;
                    }

                    input[type=text] {
                        border: none;
                        font-family: 'Open Sans';
                        font-size: 16px;
                        color: var(--green);
                        text-transform: uppercase;
                        align-self: center;
                        margin-top: 5px;
                        text-align: center;
                    }
                }

                .wrap {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .label {
                        display: flex;
                        flex-direction: column;
                        border: 3px solid var(--dark-3);
                        border-radius: 5px;
                        width: 135px;
                        height: 60px;
                        padding: 0 12px 0 12px;
                        margin-bottom: 15px;

                        label {
                            font-family: 'Open Sans';
                            font-weight: bold;
                            color: var(--blue);
                            margin-top: 2px;
                        }

                        input[type=month] {
                            border: none;
                            width: 110px;
                            font-family: 'Open Sans';
                            color: var(--green);
                            margin-top: 5px;
                            text-align: center;
                        }

                        input[type=text] {
                            border: none;
                            width: 100px;
                            font-family: 'Open Sans';
                            color: var(--green);
                            margin-top: 5px;
                            text-align: center;
                        }
                    }
                }
            }

            svg {
                align-self: center;
            }
        }

        .form-card {
            top: 32px;
            width: 283px;
            left: 0;
            justify-content: center;
            perspective: 1000px;
            .faces {
                margin-top: 100px;
                transform-style: preserve-3d;
                transition: transform .6s;
                width: 300px;

                &.flipped {
                    transform: rotateY(180deg);
                }

                svg {
                    width: 263px;
                    position: absolute;
                    backface-visibility: hidden;
                    &.back {
                        .name {
                            text-transform: uppercase;
                        }
                    }
                }

                .back {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

#checkout-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 375px;
    height: 100px;
    font-family: 'Open Sans';
    color: var(--white);
    text-transform: uppercase;

    .checkout-wrap-footer {
        width: 100%;
        height: 100%;
        background-color: var(--blue);

        .boxes {
            display: flex;
            flex-direction: column;
            width: 70%;

            .box-two {
                height: 50%;
                width: 100%;

                .inboxes {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    justify-content: center;
                    align-items: center;

                    .service {
                        font-size: 16px;
                    }

                    .value {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }

            .box-tree {
                height: 50%;
                width: 100%;

                .inboxes {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    justify-content: center;
                    align-items: center;

                    .service {
                        font-size: 16px;
                        margin-left: 10px;
                    }

                    .value {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }

        .box-one {
            height: 100%;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
                display: flex;
                justify-content: center;

                &.summation {
                    font-size: 19px;
                }

                &.value {
                    font-size: 19px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    #checkout-section {
        min-width: 720px;
    }
}

@media (min-width: 1280px) {
    #checkout-section {
        margin-top: var(--space-180);

        #confirm {
            .label {
                width: 635px;
            }

            .wrap {
                .label {
                    width: 305px;
                }
            }

            .wrap-two {
                flex-direction: row;
                justify-content: space-between;

                .label {
                    width: 305px;
                }
            }
        }

        #invoice {
            .label {
                width: 635px;
            }

            .wrap {
                .label {
                    width: 305px;
                }
            }

            .wrap-tree {
                flex-direction: row;
                justify-content: space-between;

                .label {
                    width: 305px;
                }
            }

            .wrap-four {
                flex-direction: row;
                justify-content: space-between;

                .label {
                    width: 305px;
                }
            }
        }

        #payment {
            display: flex;
            flex-direction: column;
            width: 635px;
            margin-top: var(--space-20);
            margin-bottom: var(--space-40);
            align-self: center;
            font-family: 'Open Sans';

            h2 {
                font-size: 25px;
                margin-bottom: 10px;
            }

            .wrap-five {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-bottom: 0;

                .wrap-six {
                    display: flex;
                    flex-direction: column;
                    .label {
                        display: flex;
                        flex-direction: column;
                        border: 3px solid var(--dark-3);
                        border-radius: 5px;
                        width: 305px;
                        height: 60px;
                        padding: 0 12px 0 12px;
                        margin-bottom: 15px;

                        label {
                            font-family: 'Open Sans';
                            font-weight: bold;
                            color: var(--blue);
                            margin-top: 2px;
                        }

                        input[type=text] {
                            border: none;
                            font-family: 'Open Sans';
                            font-size: 16px;
                            color: var(--green);
                            text-transform: uppercase;
                            align-self: center;
                            margin-top: 5px;
                            text-align: center;
                        }
                    }

                    .wrap {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .label {
                            display: flex;
                            flex-direction: column;
                            border: 3px solid var(--dark-3);
                            border-radius: 5px;
                            width: 135px;
                            height: 60px;
                            padding: 0 12px 0 12px;
                            margin-bottom: 15px;

                            label {
                                font-family: 'Open Sans';
                                font-weight: bold;
                                color: var(--blue);
                                margin-top: 2px;
                            }

                            input[type=month] {
                                border: none;
                                width: 110px;
                                font-family: 'Open Sans';
                                color: var(--green);
                                margin-top: 5px;
                                text-align: center;
                            }

                            input[type=text] {
                                border: none;
                                width: 100px;
                                font-family: 'Open Sans';
                                color: var(--green);
                                margin-top: 5px;
                                text-align: center;
                            }
                        }
                    }
                }

                svg {
                    margin-bottom: 20px;
                    align-self: center;
                }
            }

            .form-card {
                display: flex;
                flex-direction: column;
                width: 300px;
                justify-content: center;
                align-self: center;
                perspective: 1000px;
                .faces {
                    margin-top: 0;
                    transform-style: preserve-3d;
                    transition: transform .6s;

                    &.flipped {
                        transform: rotateY(180deg);
                    }

                    svg {
                        width: 300px;
                        position: absolute;
                        backface-visibility: hidden;

                        &.back {
                            .name {
                                text-transform: uppercase;
                            }
                        }
                    }

                    .back {
                        transform: rotateY(180deg);
                    }
                }
            }
        }
    }

    #checkout-footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 375px;
        height: 100px;
        font-family: 'Open Sans';
        color: var(--white);
        text-transform: uppercase;

        .checkout-wrap-footer {
            width: 100%;
            height: 100%;
            background-color: var(--blue);

            .boxes {
                display: flex;
                flex-direction: column;
                width: 70%;

                .box-two {
                    height: 50%;
                    width: 100%;

                    .inboxes {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        justify-content: center;
                        align-items: center;

                        .service {
                            font-size: 16px;
                        }

                        .value {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }

                .box-tree {
                    height: 50%;
                    width: 100%;

                    .inboxes {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        justify-content: center;
                        align-items: center;

                        .service {
                            font-size: 16px;
                            margin-left: 10px;
                        }

                        .value {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }
            }

            .box-one {
                height: 100%;
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                span {
                    display: flex;
                    justify-content: center;

                    &.summation {
                        font-size: 19px;
                    }

                    &.value {
                        font-size: 19px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}