#create-account {
    main {
        header {
            background-color: initial;
            justify-content: center;
            transform: translatey(74px);
            z-index: 1;
            img {
                height: 100px;
            }
        }
        main {
            background-color: var(--white);
            margin: var(--space-20);
            border-radius: 5px;
            padding: var(--space-80) var(--space-20);
            height: 600px;
            margin-left: auto;
            margin-right: auto;
            width: 320px;
            h1 {
                color: var(--blue);
                text-align: center;
            }
            form {
                flex-direction: column;
                .label {
                    flex-direction: row;
                    @include account-input; 
                }
                .labels {
                    flex-direction: column;
                    
                }
            }
            #captcha {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: var(--space-10);
            }
            .alert {
                &.danger {
                    @include alert-danger;
                }
            }
            footer {
                flex-direction: column;
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: var(--space-20);
                }
                .voltar {
                    width: 65px;
                    height: 45px;
                    background-color: var(--aqua-green);
                    border-radius: 5px;
                    justify-content: center;
                    align-items: center;
                    margin-right: var(--space-5);
                }
                button {
                    width: 100%;
                    border: none;
                    background-color: var(--blue);
                    color: var(--white);
                    text-transform: uppercase;
                    font-size: 16px;
                    border-radius: 5px;
                }
                a {
                    font-size: 13px;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #create-account {
        main {
            main {
                height: 520px;
                width: 720px;
                form {
                    .labels {
                        flex-direction: row;
                        .label {
                            width: 100%;
                        }
                        .label + .label {
                            margin-left: var(--space-10);
                        }
                    }
                }
            }
        }
    }
}