.foldOne{
    #bread {
        margin: var(--space-20);
        margin-bottom: 0;
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        ul {
            flex-direction: row;
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: 0;
                flex-direction: row;
                list-style: none;
                font-size: 14px;
                a {
                    text-decoration: none;
                }
            }
        }

    }
    footer.destinyOne {
        margin: 0;
        margin-top: -50px;
        padding-top: 0;
        header {
            margin: 0;
            padding: 0;
            h2 {
                font-size: 26px;
                font-weight: 900;
                text-transform: none;
                margin: 0;
                padding: 0;
            }
        }
        .avaliacao{
            img {
                width: 15px;
                margin: 0;
                margin-left: var(--space-5);
                margin-top: var(--space-20);
                margin-bottom: var(--space-20);
                padding: 0;
            }
        }
        p.title {
            font-size: 15px;
            font-weight: bold;
            margin: var(--space-20) 0;
            padding: 0;
        }
        p.content {
            font-size: 15px;
            margin-top: var(--space-20);
        }
        div.icons {
            margin: var(--space-20) 0;
            width: 100%;
            ul {
                margin: var(--space-20) 0;
                padding: 0;
                align-items: center;
                flex-direction: row;
                li {
                    align-items: center;
                    justify-content: space-evenly;
                    width: 100px;
                }
            }
        }
        div {
            button {
                align-items: center;
            }
            .menor {
                @include back-button;
                width: 45px;
                height: 45px;
                border: none;
                border-radius: 50%;
            }
            .maior {
                @include button;
                width: 230px;
                background-color: var(--yellow);
                border-radius: 25px;
                color: #fff;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
            }
        }
            
    } 
}

.foldTwo {
    header {
        h2 {
            font-size: 27px;
            text-transform: uppercase;
            font-weight: 600;
            align-items: center;
            justify-content: center;
        }
    }
    main {
        flex-direction: column;
        padding: var(--space-20);
        .step {
            margin-bottom: var(--space-20);
            p {
            flex-direction: row;
            font-size: 20px;
            }
        }
        div {
            justify-content: center;
            form {
                flex-direction: column;
                width: 100%;
                .label {
                    flex-direction: column;
                    @include account-input;
                    height: 60px;
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--blue);
                    text-transform: uppercase;
                    border-color: var(--gray);
                }
                input::placeholder {
                    font-size: 16px;
                }
                .labels {
                    flex-direction: column;
                }
                .filter {
                    @include button;
                    height: 45px;
                    background-color: var(--yellow);
                    border-radius: 25px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: bold;
                }
                > img {
                    height: 68px;
                    width: 261px;
                    margin: var(--space-5) auto;
                }
            }
        }
    }
}

.foldThree {
    header {
        h2 {
            font-size: 27px;
            text-transform: uppercase;
            font-weight: 600;
            align-items: center;
            justify-content: center;
        }
    }
    main {
        div {
            p {
                font-size: 20px;
                margin: 0;
                margin-left: -45px;
                margin-bottom: var(--space-20);
            }
        }
        div {
            justify-content: center;
            form {
                flex-direction: column;
                width: 290px;
                .label {
                    flex-direction: column;
                    @include account-input;
                    height: 60px;
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--blue);
                    text-transform: uppercase;
                    border-color: var(--gray);
                }
                input::placeholder {
                    font-size: 16px;
                }
                .labels {
                    flex-direction: column;
                }
                > img {
                    height: 68px;
                    width: 261px;
                    margin: var(--space-5) auto;
                }
            }
        }
        div.number {
            justify-content: flex-end;
            span {
                background-color: var(--gray);
                font-size: 20px;
            }
        }
        div.previewNext {
            justify-content: space-between;
            margin: var(--space-10) 0;
            button {
                @include button;
                margin: 0;
                padding: 0;
                width: 30%;
                height: 30px;
                background-color: var(--orange);
                border-radius: 5px;
                color: #fff;
                text-transform: uppercase;
                font-size: 15px;
            }
        }
        div.avaliacao{
            img {
                width: 15px;
                margin: 0;
                margin-left: var(--space-5);
                margin-top: var(--space-10);
                margin-bottom: var(--space-10);
                padding: 0;
            }
        }
        h2 {
            font-size: 27px;
            font-weight: 600;
            justify-content: center;
        }
    }
    footer {
        div.svgServices {
            img {
                width: 40px;
                margin: 0;
                margin-top: var(--space-10);
                margin-left: var(--space-10);
                margin-bottom: var(--space-10);
            }
        }
        .adress {
            font-size: 20px;
            font-weight: 600;
            margin: var(--space-20);
        }
        .info {
            font-size: 20px;
        } 
        .buttons {
            flex-direction: column;
            margin: 0;
            margin-top: var(--space-20);
            .back {
                @include button;
                margin: 0;
                margin-bottom: var(--space-20);
                justify-content: center;
                padding: 0;
                width: 285px;
                height: 45px;
                background-color: var(--white);
                border: 1px solid var(--green);
                border-radius: 25px;
                color: var(--dark-1); 
                text-transform: uppercase;
                font-size: 20px;
                img {
                    width: 25px;
                    margin-right: var(--space-10);
                }
            }
            .check {
                @include button;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 45px;
                background-color: var(--yellow);
                border-radius: 25px;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                font-size: 20px;
            }
        }
    }
}

.foldFour {
    header {
        h2 {
            font-size: 27px;
            text-transform: uppercase;
            font-weight: 600;
            align-items: center;
            justify-content: center;
        }
    }
    main {
        > div {
            > p {
                font-size: 20px;
                margin: 0;
                margin-left: var(--space-20);
                margin-bottom: var(--space-20);
            }
        }
        div.form {
            justify-content: center;
            form {
                flex-direction: column;
                width: 290px;
                .label {
                    flex-direction: column;
                    @include account-input;
                    height: 60px;
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--blue);
                    text-transform: uppercase;
                    border-color: var(--gray);
                }
                input::placeholder {
                    font-size: 16px;
                }
                .labels {
                    flex-direction: column;
                }
                > img {
                    height: 68px;
                    width: 261px;
                    margin: var(--space-5) auto;
                }
            }
        }
        div.number {
            justify-content: flex-end;
            span {
                background-color: var(--gray);
                font-size: 20px;
            }
        }
        div.previewNext {
            justify-content: space-between;
            margin: var(--space-10) 0;
            button {
                @include button;
                margin: 0;
                padding: 0;
                width: 30%;
                height: 30px;
                background-color: var(--orange);
                border-radius: 5px;
                color: #fff;
                text-transform: uppercase;
                font-size: 15px;
            }
            img {
                width: 120px;
                margin-top: -46px;
            }
        }
        div.wrap {
            flex-direction: column;
            background-color: rgba($color: #1ABC9C, $alpha: .1);
            margin: 0;
            padding: 0;
            height: 300px;
            .panel {
                margin: 0;
                flex-direction: row;
                justify-content: space-between;
                p.go {
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: var(--white);
                    font-weight: bold;
                    width: 85px;
                    height: 35px;
                    border-radius: 0 5px 5px 0;
                    background-color: var(--blue);
                }
                p.date {
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    margin-left: 35px;
                    text-transform: uppercase;
                    color: var(--dark);
                    width: 85px;
                    height: 35px;
                }
                p.value {
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    margin-left: 35px;
                    text-transform: uppercase;
                    color: var(--white);
                    width: 95px;
                    height: 35px;
                    border-radius: 5px 0px 0px 5px;
                    background-color: var(--blue);
                }
                div.panelIsnt {
                    flex-direction: row;
                    border: 1px solid #000;
                    
                }
            }
        }
    }
    footer {
        .buttons {
            flex-direction: column;
            margin: 0;
            margin-top: var(--space-20);
            .back {
                @include button;
                margin: 0;
                margin-bottom: var(--space-20);
                justify-content: center;
                padding: 0;
                width: 285px;
                height: 45px;
                background-color: var(--white);
                border: 1px solid var(--green);
                border-radius: 25px;
                color: var(--dark-1); 
                text-transform: uppercase;
                font-size: 20px;
                img {
                    width: 25px;
                    margin-right: var(--space-10);
                }
            }
            .check {
                @include button;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 45px;
                background-color: var(--yellow);
                border-radius: 25px;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                font-size: 20px;
            }
        }
    }
}


.foldFive {
    header {
        h2 {
            font-size: 27px;
            text-transform: uppercase;
            font-weight: 600;
            align-items: center;
            justify-content: center;
        }
    }
    main {
        > div {
            > p {
                font-size: 20px;
                margin: 0;
                margin-left: var(--space-20);
                margin-bottom: var(--space-20);
            }
        }
        div.form {
            justify-content: center;
            form {
                flex-direction: column;
                width: 290px;
                .label {
                    flex-direction: column;
                    @include account-input;
                    height: 60px;
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--blue);
                    text-transform: uppercase;
                    border-color: var(--green);
                }
                .labelRed {
                    flex-direction: column;
                    @include account-input;
                    height: 60px;
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--red-0);
                    text-transform: uppercase;
                    border-color: var(--red-0);
                }
                input::placeholder {
                    font-size: 20px;
                }
                .labels {
                    flex-direction: column;
                }
                > img {
                    height: 68px;
                    width: 261px;
                    margin: var(--space-5) auto;
                }
                .buttons {
                    flex-direction: column;
                    margin: 0;
                    margin-top: var(--space-20);
                    .back {
                        @include button;
                        margin: 0;
                        margin-bottom: var(--space-20);
                        justify-content: center;
                        padding: 0;
                        width: 285px;
                        height: 45px;
                        background-color: var(--white);
                        border: 1px solid var(--green);
                        border-radius: 25px;
                        color: var(--dark-1); 
                        text-transform: uppercase;
                        font-size: 20px;
                        img {
                            width: 25px;
                            margin-right: var(--space-10);
                        }
                    }
                    .check {
                        @include button;
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        height: 45px;
                        background-color: var(--yellow);
                        border-radius: 25px;
                        font-weight: bold;
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 20px;
                    }
                }
            }
        }
        div.number {
            justify-content: flex-end;
            span {
                background-color: var(--gray);
                font-size: 20px;
            }
        }
        div.previewNext {
            justify-content: space-between;
            margin: var(--space-10) 0;
            button {
                @include button;
                margin: 0;
                padding: 0;
                width: 30%;
                height: 30px;
                background-color: var(--orange);
                border-radius: 5px;
                color: #fff;
                text-transform: uppercase;
                font-size: 15px;
            }
            img {
                width: 120px;
                margin-top: -46px;
            }
        }
        div.wrap {
            flex-direction: column;
            background-color: rgba($color: #1ABC9C, $alpha: .1);
            margin: 0;
            padding: 0;
            height: 300px;
            .panel {
                margin: 0;
                flex-direction: row;
                justify-content: space-between;
                p.go {
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: var(--white);
                    font-weight: bold;
                    width: 85px;
                    height: 35px;
                    border-radius: 0 5px 5px 0;
                    background-color: var(--blue);
                }
                p.date {
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    margin-left: 35px;
                    text-transform: uppercase;
                    color: var(--dark);
                    width: 85px;
                    height: 35px;
                }
                p.value {
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    margin-left: 35px;
                    text-transform: uppercase;
                    color: var(--white);
                    width: 95px;
                    height: 35px;
                    border-radius: 5px 0px 0px 5px;
                    background-color: var(--blue);
                }
                div.panelIsnt {
                    flex-direction: row;
                    border: 1px solid #000;
                    
                }
            }
        }
    }
}