#footer {
    width: 100%;
    background-color: var(--dark-0);
    flex-direction: column;
    color: var(--white);
    align-items: center;
    > div {
        flex-direction: column;
        padding: 0 var(--space-20);
        width: 100%;
        max-width: 1180px;
        header {
            justify-content: center;
            img {
                width: 200px;
                height: 93px;
            }
        }
        .mail {
            margin: 0;
            padding: 0;
            p {
                font-size: 16px;
                font-weight: bold;
                text-align: center;
            }
        }
        .main {
            width: 100%;
            flex-direction: column;
            align-items: center;
            h4 {
                margin: 0;
                font-size: 24px;
                font-weight: bold;
            }
            .contact {
                flex-direction: column;
                .media {
                    width: 100%;
                    justify-content: center;
                    a {
                        cursor: pointer;
                        svg {
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                        }
                    }
                }
                p {
                    margin-bottom: 0;
                    margin-top: var(--space-10);
                    font-size: 20px;
                }
            }
            .app {
                flex-direction: column;
                margin-top: var(--space-20);
                > div {
                    margin: var(--space-10) 0;
                    a {
                        img {
                            width: 125px;
                            height: 37px;
                            margin-right: 10px;
                        }
                    }
                }   
                small {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }         
            }
        }
    }
    .team {
        background-color: var(--white);
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: var(--space-10) var(--space-20);
        margin-top: var(--space-10);
        width: 100%;
        p {
            color: var(--dark-0);
            font-size: 14px;
            font-weight: 600;
        }
        a {
            img {
                width: 131px;
                height: 37px;
            }
        }
    }    
}

@media (min-width: 800px) {
    #footer {
        > div {
            .main {
                flex-direction: row;
                justify-content: space-between;
                align-items: initial;
                .app {
                    margin-top: 0;
                }
            }
        }
    }
}