header {
    &#topo {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        flex-direction: row;
        height: 68px;
        justify-content: space-between;
        align-items: center;
        padding: var(--space-10);
        background-color: var(--white-50);
        width: 100%;
        backdrop-filter: blur(5px);
        margin-bottom: 50px;
        img {
            height: 50px;
            width: auto;
        }
        button {
            @include menu;
            transition: 0.5s ease-in-out;
        }
    }

}

@media (min-width: 1280px) {
    header {
        height: 100px;
        img {
            height: 75px;
            width: auto;
        }
    }
}