header {
    &#topo {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        flex-direction: row;
        height: 68px;
        justify-content: space-between;
        align-items: center;
        padding: var(--space-10);
        background-color: var(--white-50);
        width: 100%;
        backdrop-filter: blur(5px);
        margin-bottom: 50px;
        img {
            height: 50px;
            width: auto;
        }
        button {
            @include menu;
            transition: 0.5s ease-in-out;
        }
        .menu {
            position: absolute;
            top: 68px;
            right: -315px;
            width: 315px;
            flex-direction: column;
            background-color: var(--white);
            transition: right .3s ease-in-out;
            z-index: 1;
            height: 100vh;
            &.open {
                display: flex;
                right: 0;
            }
            nav {
                ul {
                    margin: 0;
                    padding: 10px 20px;
                    list-style-type: none;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    li {
                        width: 100%;
                        height: 90px;
                        border: 1px solid var(--blue);
                        margin-bottom: var(--space-20);
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &.green {
                            border-color: var(--green);
                        }
                        a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            svg {
                                width: 45px;
                                height: 45px;
                            }
                            span {
                                font-size: 18px;
                                color: var(--dark-0);
                            }
                        }
                    }
                    hr {
                        border: 0;
                        height: 1px;
                        width: 150px;
                        background-color: var(--dark-1);
                    }
                }
            }
        }
    }

}

@media (min-width: 1280px) {
    header#topo {
        height: 100px;
        img {
            height: 75px;
            width: auto;
        }
        .menu {
            top: 100px;
        }
    }
}