#landing {
    padding: 10px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../jpg/beach-1761410_640.jpg');
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    max-width: initial;
    position: relative;
    margin-top: 0;
    border-radius: 0;
    .wrap {
        backdrop-filter: blur(5px);
        background-color: rgba(26, 188, 156, .8);
        border: 1px solid var(--green-1);
        border-radius: 5px;
        min-width: 300px;
        width: 100%;
        max-width: 600px;
        padding: var(--space-20);
        box-shadow: 0px 13px 22px 0px rgba(0, 0, 0, .5);
        form {
            width: 100%;
            height: 100%;
            flex-direction: column;
            .label {
                background-color: var(--white);
                flex-direction: column;
                width: 130px;
                @include account-input;
            }
            .labels {
                flex-direction: column;
            }
            button[type="submit"] {
                width: 100%;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--yellow);
                color: var(--white);
                text-transform: uppercase;
                font-size: 25px;
                font-weight: bold;
                border: 0;
                outline: 0;
                border-radius: 25px;
                transition: all .3s ease-in-out;
                &:hover {
                    background-color: var(--yellow-1);
                }
                &:active {
                    background-color: var(--yellow-2);
                }
            }
        }
    }
    .bar {
        width: 100%; 
        z-index: 1; 
        height: 20px; 
        background-color: var(--red-0); 
        position: absolute; 
        bottom: 20px; 
        left: 0; 
        border-radius: 0; 
        border: 0; 
        justify-content: center;
        div {
            width: 25px;
            padding-top: 0;
            animation: slideDown 3s cubic-bezier(.36,.07,.19,.97) both infinite 1s;
            height: 25px;
            background-color: transparent;
            border-radius: 0;
            border: 0;
        }
    }  
    .white-bar {
        width: 100%; 
        height: 20px; 
        background-color: var(--bg-color); 
        position: absolute; 
        bottom: 0;
        left: 0; 
        border-radius: 0; 
        border: 0;
    }   
}

main {
    flex-direction: column;
    align-items: center;
    &.margin-header {
        margin-top: 100px;
    }
    .divider {
        border: 0;
        background-color: var(--aqua-green);
        margin: 40px 0;
        width: 50%;
        max-width: 300px;
        height: 1px;
    }   
    .float-image {
        margin: 0 auto; 
        .illustration {
            width: 500px;
        }
        header, .box-image, footer {
            background-color: var(--white);
        }
        header {
            flex-direction: column;
            align-items: center;
            padding: var(--space-20);
            > div {
                h1 {
                    color: var(--red-0);
                    font-size: 25px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                img {
                    width: 52px;
                    height: 52px;
                    margin-right: var(--space-10);
                    &.agency-logo {
                        width: 170px;
                        height: 67px;
                    }
                }
            }
            .avaliacao {
                margin-top: var(--space-10);
                img {
                    width: 12px;
                    height: 12px;
                }
            }
        }
        .box-image {
            flex-direction: column;
            .agency {
                box-shadow: initial;
            }
        }
        footer {
            padding: var(--space-20);
            flex-direction: column;
            align-items: center;
            &.tips {
                align-items: flex-start;
                p {
                    font-size: 16px;
                    text-align: left;
                    &.tip-title {
                        font-size: 20px;
                        margin: 40px 0px 15px 0px ;
                        color: var(--aqua-green);
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
                > div {
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    a {
                        display: flex;
                        width: 300px;
                        height: 45px;
                        border-radius: 25px;
                        background-color: var(--yellow);
                        color: var(--white);
                        font-size: 18px;
                        justify-content: center;
                        align-items: center;
                        margin-top: var(--space-20);
                        &:hover {
                            background-color: var(--yellow-1);
                        }
                        &:active {
                            background-color: var(--yellow-2);
                        }
                    }
                }
            }
            p {
                margin: 0;
                text-align: center;
                font-size: 22px;
                &.title {
                    font-weight: 600;
                    margin-bottom: var(--space-50);
                }
                &.block {
                    display: block;
                    b {
                        font-weight: 600;
                    }
                }
            }
            .icons {
                width: 100%;
                margin-top: var(--space-20);
                justify-content: center;
                ul {
                    flex-direction: column;
                    justify-content: space-between;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li {
                        margin-top: var(--space-10);
                        span {
                            color: var(--dark-0);
                            font-size: 18px;
                            text-align: center;
                        }
                        svg {
                            width: 30px;
                            margin-right: 10px;
                            height: auto;
                        }
                    }
                    
                }
            }   
            .pricing {
                flex-direction: column;
                margin-top: var(--space-20);
                p {
                    color: var(--dark-0);
                    font-size: 20px;
                    font-weight: 600;
                    &:first-child {
                        font-weight: 300;
                        font-size: 15px;
                    }
                }
            }
            .call-to-action {
                width: 100%;
                margin-top: var(--space-20);
                justify-content: center;
                align-items: center;
                &.blue {
                    a {
                        background-color: var(--blue);
                        max-width: 250px;
                        &:hover {
                            background-color: var(--blue-0);
                        }
                    }
                }
                a {
                    border-radius: 25px;
                    width: 100%;
                    max-width: 600px;
                    height: 45px;
                    background-color: var(--orange);
                    color: var(--white);
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .3s ease-in-out;
                    &:hover {
                        background-color: var(--orange-1);
                    }
                }
            }
        }   
    }
}

@keyframes slideDown {

    0%, 100% {
        transform: translate3d(0, 12px, 0);
    }
    50% {
        transform: translate3d(0, 18px, 0);
    }
}

@media (min-width: 500px) {
    main {
        .float-image {
            footer {
                .icons {
                    ul {
                        flex-direction: row;
                        width: 100%;
                    }
                }
                .call-to-action {
                    &.blue {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}

@media (min-width: 850px) {
    #landing {
        background-image: url('../jpg/beach-1761410_1280.jpg');
        .wrap {
            form {
                .labels {
                    flex-direction: row;
                    .label + .label {
                        margin-left: var(--space-10);
                    }
                }
            }
        }
    }
}