main {
    flex-direction: column;
    height: 100vh;
    header {
        flex-direction: row;
        background-color: var(--aqua-green-1);
        border-bottom: none;
        .language {
            position: relative;
            display: flex;
            flex-direction: row;
            cursor: pointer;
            align-items: center;
            .dropdown-language {
                display: none;
            }
            img {
                &:first-child {
                    margin: 0 var(--space-5) 0 var(--space-10);
                    height: 20px;
                }
                &:last-child {
                    height: 10px;
                }
            }
            &:hover {
                .dropdown-language {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    border: 1px solid var(--aqua-green);
                    top: 30px;
                    width: 100px;
                    cursor: initial;
                    margin-left: var(--space-10);
                    border-radius: 5px;
                    z-index: 2;
                    background-color: var(--white);
                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        transition: 0.3s;
                        cursor: pointer;
                        img {
                            height: 15px;
                        }
                        p {
                            font-size: 15px;
                        }
                        &:hover {
                            background-color: #E2EFF9;
                            &:first-child {
                                border-radius: 5px 5px 0 0;
                            }
                            &:last-child {
                                border-radius: 0 0 5px 5px;
                            }
                        }
                    }
                    
                }
            }
        }
        .finance {
            align-items: center;
            marquee {
                height: 30px;
                p {
                    display: inline;
                    margin-right: 100vw;
                    vertical-align: sub;
                    font-size: 13px;
                    color: var(--dark-0);
                }
            }
        }
    }  
    #filter {
        width: 100%;
        .background {
            padding: 15px;
            background-image: url('../jpg/maldives-3220702_640.jpg');
            background-size: cover;
            width: 100%;
            form {
                width: 100%;
                height: 100%;
                background-color: var(--aqua-green);
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, .4);
                backdrop-filter: blur(5px);
                opacity: .9;
                flex-direction: column;
                padding: var(--space-20) var(--space-10);
                .row {
                    width: 100%;
                    flex-direction: column;
                    margin-bottom: 10px;
                    .column {
                        flex-direction: row;
                        > div {
                            flex: 1;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                    label {
                        font-size: 12px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    .wrap {
                        position: relative;
                        width: 100%;
                        svg {
                            position: absolute;
                            top: 8px;
                            left: 5px;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                    input {
                        border: 0;
                        border-radius: 5px;
                        background-color: var(--white);
                        height: 35px;
                        width: 100%;
                        padding-left: 33px;
                        padding-right: 10px;
                        &::placeholder {
                            font-style: italic;
                            font-size: 19px;
                            color: var(--dark-0);
                        }
                        &[type="date"] {
                            margin-right: 10px;
                        }
                    }
                }
                button[type="submit"] {
                    @include button;
                    height: 35px;
                    background-color: var(--blue);
                    border-radius: 5px;
                    color: var(--white);
                    font-weight: bold;
                    font-size: 19px;
                    margin-top: 17px;
                    margin-left: 10px;
                }
            }
        }
    }
    #featured {
        flex-direction: column;
        header {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            margin-bottom: var(--space-20);
            img {
                height: 45px;
                width: auto;
                margin-right: var(--space-5);
            }
            h1 {
                font-size: 20px;
                font-weight: bold;
                color: var(--red-1);
                text-transform: uppercase;
            }
        }
        article {
            background-image: url(../jpg/foz-do-iguacu.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: center;
            height: 180px;
            padding-top: var(--space-5);
            flex-direction: column;
            h2, p {
                padding: var(--space-10);
            }
            h2 {
                background-color: rgba(255,255,255,0.8);
                width: 50%;
                font-size: 15px;
                font-weight: 600;
                margin: 0;
            }
            p {
                background-color: rgba(41, 128, 185, 0.8);
                width: 50%;
                font-size: 13px;
                color: var(--white);
            }
            button {
                @include button;
                background-color: #F9C500;
                border-radius: 5px;
                color: var(--black);
                font-size: 20px;
                font-weight: bold;
                width: 225px;
                &:hover {
                    color: var(--dark-0);
                }
            }
        }
    }
}

.alert {
    &.info {
        @include alert-info;
    }
    &.danger {
        @include alert-danger;
    }
    &.success {
        @include alert-success;
    }
}



@media (min-width: 992px) {
    main {
        header {
            .language {
                height: inherit;
            }
        }
    }
}


