@mixin scrollbars($size, $foreground-color, $background-color) {
	&::-webkit-scrollbar {
		width:  $size;
		height: $size;
	}
	&::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}
	&::-webkit-scrollbar-track {
		background: $background-color;
	}
}
@mixin menu {
	background-color: transparent;
	border: 1px solid var(--shadow);
	width: var(--space-50);
	height: var(--space-50);
	justify-content: center;
	align-items: center;
	outline: none;
	img {
		height: var(--space-20);
		width: auto;
	}
	&:hover {
		border: 1px solid var(--blue);
	}
	&:active {
		box-shadow: inset 1px 1px 5px var(--dark-1);
	}
}

@mixin button {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}
@mixin back-button {
	border: none;
	width: 65px;
	height: 45px;
	background-color: var(--aqua-green);
	border-radius: var(--space-5);
	justify-content: center;
	align-items: center;
	margin-right: var(--space-5);
	cursor: pointer;
	transition: 0.3s ease-in-out;
	outline: none;
	&:hover {
		background-color: #17AC8F;
	}
	&:active {
		background-color: #179E83;
	}
	> img {
		height: 13px;
		width: auto;
	}
}
@mixin next-button {
	width: 100%;
	background-color: var(--blue);
	border: none;
	border-radius: var(--space-5);
	font-size: var(--space-20);
	color: var(--white);
	justify-content: center;
	align-items: center;
	outline: none;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	text-transform: uppercase;
	&:hover {
		background-color: #2d8ece;
	}
	&:active {
		background-color: var(--blue);
	}
}

@mixin account-input {
	flex-direction: column;
	border: 1px solid var(--dark-1);
	border-radius: 5px;
	padding: var(--space-5);
	height: 60px;
	margin-bottom: var(--space-20);
	width: 100%;
	label {
		font-size: var(--space-20);
		font-weight: bold;
		margin-bottom: var(--space-5);
		font-size: 16px;
		font-weight: 600;
		color: var(--blue);
	}
	div {
		flex-direction: row;
		img {
			height: 20px;
			width: 20px;
			justify-content: center;
			align-items: center;
		}
		input {
			border: none;
			width: 100%;
			outline: none;
			padding-left: var(--space-10);
		}
	}
}

@mixin alert-danger {
	border: 1px solid var(--red-3);
	background-color: var(--red-3);
	border-radius: var(--space-5);
	margin: var(--space-10) 0 var(--space-20) 0;
	color: var(--red-4);
	text-align: center;
	justify-content: center;
	padding: var(--space-10);
}
@mixin alert-info {
	border: 1px solid var(--blue-3);
	background-color: var(--blue-2);
	border-radius: var(--space-5);
	margin: var(--space-10) 0 var(--space-20) 0;
	color: var(--blue-4);
	text-align: center;
	justify-content: center;
	padding: var(--space-10);
}
@mixin alert-success {
	border: 1px solid var(--green-3);
	background-color: var(--green-2);
	border-radius: var(--space-5);
	margin: var(--space-10) 0 var(--space-20) 0;
	color: var(--green-4);
	text-align: center;
	justify-content: center;
	padding: var(--space-10);
}
@mixin box-yellow {
	border: 1px solid var(--yellow-3);
	background-color: var(--yellow-4);
	border-radius: var(--space-5);
	margin: var(--space-10) 0 var(--space-20) 0;
	text-align: center;
	justify-content: center;
	padding: var(--space-10);
}