header {
    &.new-password {
        flex-direction: row;
        justify-content: center;
        height: var(--space-50);
        width: 100%;
        background-color: var(--white);
        padding: var(--space-10) 0;
        img {
            height: 40px;
            width: auto;
        }
    }
}

section {
    &#new-password {
        margin-top: var(--space-50);
        padding-top: var(--space-50);
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        header, main, footer {
            background-color: var(--white);
        }
        header {
            flex-direction: column;
            img {
                height: 100px;
                width: auto;
                transform: translateY(-50px);
            }
            h1 {
                font-size: 25px;
                color: var(--blue);
                justify-content: center;
                margin-top: -20px;
            }
        }
        main {
            flex-direction: column;
            padding: var(--space-20);
            form {
                flex-direction: column;
                .label {
                    flex-direction: column;
                    @include account-input;
                }
                .labels {
                    flex-direction: column;
                }
                .button {
                    justify-content: center;
                    a {
                        @include back-button;
                    }
                    button {
                        @include next-button;
                        width: 230px;
                    }
                }
                > img {
                    height: 68px;
                    width: 261px;
                    margin: var(--space-5) auto;
                }
            }
            .alert {
                &.danger {
                    @include alert-danger;
                }
                &.info {
                    @include alert-info;
                }
            }

        }
        footer {
            justify-content: space-evenly;
            padding-bottom: var(--space-20);
            a {
                font-size: 13px;
                &:hover {
                    color: var(--black);
                }
            }

        }
    }
}

@media (min-width: 992px) {
    header {
        &.new-password {
            height: var(--space-100);
            margin-bottom: var(--space-100);
            img {
                height: 80px;
            }
        }
    }
    section {
        &#new-password {
            max-width: 720px;
            main {
                form {
                    .labels {
                        flex-direction: row;
                        .label + .label {
                            margin-left: var(--space-20);
                        }
                    }
                }
            }
        }
    }
}