header {
    &.password-created {
        flex-direction: row;
        justify-content: center;
        height: var(--space-50);
        width: 100%;
        background-color: var(--white);
        padding: var(--space-10) 0;
        img {
            height: 40px;
            width: auto;
        }
    }
}

section {
    &#password-created {
        margin-top: var(--space-50);
        padding-top: var(--space-50);
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        header, main, footer {
            background-color: var(--white);
        }
        header {
            flex-direction: column;
            img {
                height: 100px;
                width: auto;
                transform: translateY(-50px);
            }
            h1 {
                font-size: 30px;
                color: var(--blue);
                justify-content: center;
                margin-top: -20px;
            }
        }
        main {
            flex-direction: column;
            padding: var(--space-20);
            .alert {
                &.success {
                    @include alert-success;
                }
            }
            

        }
        footer {
            justify-content: center;
            padding: var(--space-20);
            padding-top: 0;
            button {
                @include next-button;
            }

        }
    }
}

@media (min-width: 992px) {
    header {
        &.password-created {
            height: var(--space-100);
            margin-bottom: var(--space-100);
            img {
                height: 80px;
            }
        }
    }
}