:root {
    --bg-color: #E4E4E4;
    --white: #FFF;
    --black: #000;
    --blue: #2980B9;
    --aqua-green: #1ABC9C;
    --aqua-green-1: #DEF6F1;
    --yellow: #F9C80E;
    --red-0: #F499A2;
    
    --bg-color: #F5F5F5;

    --space-5: 5px;
    --space-10: 10px;
    --space-20: 20px;
    --space-40: 40px;
    --space-80: 80px;
}