:root {
    --bg-color: #E4E4E4;
    --white: #FFF;

    //Azul
    --blue: #2980B9; //Borda do nav, Texto do Logo
    --blue-0: #35a9f5; //Fundo dos bot천es para nota do Lighthouse
    --blue-1: #483BA8; //Texto dos bot천es
    --blue-2: #D1ECF1; //Alerta de Info: Fundo
    --blue-3: #BEE5EB; //Alerta de Info: Borda
    --blue-4: #0C5460; //Alerta de Info: Texto

    //Preto
    --shadow: #A7A7A7; //Sombra dos bot천es
    --black: #000;
    --dark-0: #333;
    --dark-1: #707070;

    //Verde
    --aqua-green: #1ABC9C; //Borda dos bot천es
    --aqua-green-1: #DEF6F1;
    --green-2: #D4EDDA; //Alerta de Sucesso: Fundo
    --green-3: #C3E6CB; //Alerta de Sucesso: Borda
    --green-4: #155724 //Alerta de Sucesso: Texto


    //Amarelo
    --yellow: #F9C80E;


    //Vermelho
    --red-0: #F2808B; //Alerta de Covid
    --red-1: #EA3546; //Alerta de Covid:hover
    --red-2: #F8D7DA; //Alerta de erro: Fundo
    --red-3: #F5C6CB; //Alerta de erro: Borda
    --red-4: #721C24; //Alerta de Erro: Texto
    
    --bg-color: #F5F5F5;

    --space-5: 5px;
    --space-10: 10px;
    --space-20: 20px;
    --space-40: 40px;
    --space-80: 80px;
}