@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 30;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Pristina";
  src: local("Pristina"), url("../fonts/pristina.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
:root {
  --bg-color: #E4E4E4;
  --white: #FFF;
  --blue: #2980B9;
  --blue-1: #483BA8;
  --shadow: #A7A7A7;
  --black: #000;
  --dark-0: #333;
  --dark-1: #707070;
  --aqua-green: #1ABC9C;
  --aqua-green-1: #DEF6F1;
  --yellow: #F9C80E;
  --red-0: #F2808B;
  --red-1: #EA3546;
  --red-2: #F8D7DA;
  --red-3: #F5C6CB;
  --red-4: #721C24;
  --bg-color: #F5F5F5;
  --space-5: 5px;
  --space-10: 10px;
  --space-20: 20px;
  --space-40: 40px;
  --space-80: 80px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header, main, nav, img, a, footer, div, form, label, input {
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
}
header .alert {
  width: 100%;
  background-color: var(--red-0);
  padding: 0 var(--space-20);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: all 0.5s;
}
header .alert p {
  font-weight: 100;
  font-size: 14px;
  margin-left: 12px;
  text-align: center;
}
header .alert:hover {
  background-color: var(--red-1);
}
header #wrap {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  padding: var(--space-10);
  height: 92px;
  align-items: center;
}
header #wrap .logo {
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: start;
}
header #wrap .logo img {
  height: 50px;
}
header #wrap .logo p {
  font-family: "Pristina";
  font-size: 50px;
  color: var(--blue);
}
header #wrap .conta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--aqua-green);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 5px var(--shadow);
  outline: none;
  background: transparent;
  font-size: 12px;
  color: var(--blue-1);
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  transition: all 0.5s;
  height: 50px;
  padding-top: 0;
}
header #wrap .conta:hover {
  box-shadow: 0 0 5px #757575;
  background-color: #1abc9c1c;
}
header #wrap .conta:active {
  box-shadow: inset 0 0 5px var(--shadow);
}
header #wrap .conta img {
  height: 40px;
  width: 40px;
}
header #wrap .conta p {
  display: none;
}
header #wrap .logged {
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}
header #wrap .logged p {
  display: flex;
  margin-left: 10%;
}
header nav {
  border: 2px solid var(--blue);
  border-left: 0;
  border-right: 0;
  padding: var(--space-10);
  overflow-x: scroll;
}
header nav::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
header nav::-webkit-scrollbar-thumb {
  background: #2980B9;
}
header nav::-webkit-scrollbar-track {
  background: transparent;
}
header nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--aqua-green);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 5px var(--shadow);
  outline: none;
  background: transparent;
  font-size: 12px;
  color: var(--blue-1);
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  transition: all 0.5s;
  margin-left: 15px;
  width: 80px;
}
header nav a:hover {
  box-shadow: 0 0 5px #757575;
  background-color: #1abc9c1c;
}
header nav a:active {
  box-shadow: inset 0 0 5px var(--shadow);
}
header nav a:nth-child(1) {
  margin-left: 0;
}
header nav a:last-child {
  margin-right: 15px;
}
header nav a.conta {
  display: none;
}
header nav a.conta.logged {
  display: none;
}
header nav a img {
  height: 50px;
  width: auto;
}
header#login {
  background-color: var(--white);
}
header#login a.logo {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: calc(var(--space-5) * 2);
}
header#login a.logo img {
  height: 50px;
}
header#login a.logo p {
  font-family: "Pristina";
  font-size: 40px;
  color: var(--blue);
  margin: 0;
  margin-left: 8px;
}

@media (min-width: 992px) {
  header {
    position: relative;
    border-bottom: 2px solid var(--blue);
  }
  header .alert {
    align-items: center;
    justify-content: center;
  }
  header #wrap {
    width: 114px;
    height: 121px;
  }
  header #wrap .conta {
    display: none;
  }
  header nav {
    position: absolute;
    border: none;
    right: 0;
    top: calc(var(--space-10) * 5);
    overflow: hidden;
  }
  header nav a {
    height: 100px;
  }
  header nav a:nth-child(1) {
    margin-left: 15px;
  }
  header nav a.conta {
    display: flex;
  }
}
main {
  flex-direction: column;
  height: 100vh;
}
main header {
  flex-direction: row;
  background-color: var(--aqua-green-1);
  border-bottom: none;
}
main header .language {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}
main header .language .dropdown {
  display: none;
}
main header .language img:first-child {
  margin: 0 var(--space-5) 0 var(--space-10);
  height: 20px;
}
main header .language img:last-child {
  height: 10px;
}
main header .language:hover .dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid var(--aqua-green);
  top: 30px;
  width: 100px;
  cursor: initial;
  margin-left: var(--space-10);
  border-radius: 5px;
}
main header .language:hover .dropdown div {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
main header .language:hover .dropdown div img {
  height: 15px;
}
main header .language:hover .dropdown div p {
  font-size: 15px;
}
main header .language:hover .dropdown div:hover {
  background-color: #E2EFF9;
}
main header .language:hover .dropdown div:hover:first-child {
  border-radius: 5px 5px 0 0;
}
main header .language:hover .dropdown div:hover:last-child {
  border-radius: 0 0 5px 5px;
}
main header .finance {
  align-items: center;
}
main header .finance marquee {
  height: 30px;
}
main header .finance marquee p {
  display: inline;
  margin-right: 100vw;
  vertical-align: sub;
  font-size: 13px;
  color: var(--dark-0);
}

#filter .background {
  padding: 15px;
  background-image: url("../jpg/maldives-3220702_640.jpg");
}
#filter .background form {
  width: 100%;
  height: 100%;
  background-color: var(--aqua-green);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  opacity: 0.9;
  flex-direction: column;
  padding: var(--space-20) var(--space-10);
}
#filter .background form .row {
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}
#filter .background form .row .column {
  flex-direction: row;
}
#filter .background form .row .column > div {
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
#filter .background form .row label {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
#filter .background form .row .wrap {
  position: relative;
  width: 100%;
}
#filter .background form .row .wrap svg {
  position: absolute;
  top: 8px;
  left: 5px;
}
#filter .background form .row .wrap svg:hover {
  color: #fff;
}
#filter .background form .row input {
  border: 0;
  border-radius: 5px;
  background-color: var(--white);
  height: 35px;
  width: 100%;
  padding-left: 33px;
  padding-right: 10px;
}
#filter .background form .row input::placeholder {
  font-style: italic;
  font-size: 19px;
  color: var(--dark-0);
}
#filter .background form button[type=submit] {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  background: transparent;
  height: 35px;
  background-color: var(--blue);
  border-radius: 5px;
  color: var(--white);
  font-weight: bold;
  font-size: 19px;
}

@media (min-width: 992px) {
  main header .language {
    height: inherit;
  }
}
body {
  background-color: var(--bg-color);
}

#access {
  height: 0;
  background-color: var(--white);
}
#access main {
  height: 360px;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}
#access main header {
  background-color: initial;
  justify-content: center;
  transform: translatey(74px);
  z-index: 1;
}
#access main header img {
  height: 100px;
}
#access main main {
  background-color: var(--white);
  margin: var(--space-20);
  border-radius: 5px;
  padding: var(--space-80) var(--space-20);
}
#access main main h1 {
  color: var(--blue);
  text-align: center;
}
#access main main form {
  flex-direction: column;
}
#access main main form .label {
  flex-direction: row;
  flex-direction: column;
  border: 1px solid var(--dark-1);
  border-radius: 5px;
  padding: var(--space-5);
  height: 60px;
  margin-bottom: var(--space-20);
  height: 35px;
}
#access main main form .label label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: var(--space-5);
}
#access main main form .label div {
  flex-direction: row;
}
#access main main form .label div img {
  height: 20px;
  width: 20px;
  justify-content: center;
}
#access main main form .label div input {
  border: none;
  width: 100%;
  outline: none;
  padding-left: var(--space-10);
}
#access main main footer {
  flex-direction: column;
}
#access main main footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--space-20);
}
#access main main footer .voltar {
  width: 65px;
  height: 45px;
  background-color: var(--aqua-green);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-right: var(--space-5);
}
#access main main footer button {
  width: 100%;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
}
#access main main footer a {
  font-size: 13px;
  text-align: center;
}

#create-account main header {
  background-color: initial;
  justify-content: center;
  transform: translatey(74px);
  z-index: 1;
}
#create-account main header img {
  height: 100px;
}
#create-account main main {
  background-color: var(--white);
  margin: var(--space-20);
  border-radius: 5px;
  padding: var(--space-80) var(--space-20);
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
#create-account main main h1 {
  color: var(--blue);
  text-align: center;
}
#create-account main main form {
  flex-direction: column;
}
#create-account main main form .label {
  flex-direction: row;
  flex-direction: column;
  border: 1px solid var(--dark-1);
  border-radius: 5px;
  padding: var(--space-5);
  height: 60px;
  margin-bottom: var(--space-20);
}
#create-account main main form .label label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: var(--space-5);
}
#create-account main main form .label div {
  flex-direction: row;
}
#create-account main main form .label div img {
  height: 20px;
  width: 20px;
  justify-content: center;
}
#create-account main main form .label div input {
  border: none;
  width: 100%;
  outline: none;
  padding-left: var(--space-10);
}
#create-account main main form .labels {
  flex-direction: column;
}
#create-account main main #captcha {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--space-10);
}
#create-account main main .alert.danger {
  border: 1px solid var(--red-3);
  background-color: var(--red-3);
  border-radius: var(--space-5);
  margin: var(--space-10) 0;
  color: var(--red-4);
  justify-content: center;
  padding: var(--space-10);
}
#create-account main main footer {
  flex-direction: column;
}
#create-account main main footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--space-20);
}
#create-account main main footer .voltar {
  width: 65px;
  height: 45px;
  background-color: var(--aqua-green);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-right: var(--space-5);
}
#create-account main main footer button {
  width: 100%;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
}
#create-account main main footer a {
  font-size: 13px;
  text-align: center;
}

@media (min-width: 992px) {
  #create-account main main {
    height: 520px;
    width: 720px;
  }
  #create-account main main form .labels {
    flex-direction: row;
  }
  #create-account main main form .labels .label {
    width: 100%;
  }
  #create-account main main form .labels .label + .label {
    margin-left: var(--space-10);
  }
}

/*# sourceMappingURL=main.css.map */
